.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid var(--border-active);
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: var(--text-tertiary);
    background: var(--bg-card);
    border-radius: 6px;
    transition: var(--transition-theme);
}

.order-item-name, .order-item-food{
    font-weight: 600;
    color: var(--text-primary);
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: var(--accent-select);
    border: 1px solid var(--border-active);
    width: max(10vw,120px);
    padding: 10px;
    outline: none;
    color: var(--text-primary);
    border-radius: 4px;
}

@media (max-width:1000px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}
