.footer{
    color: aliceblue;
    background-color: #2d2b3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}
.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    cursor: pointer;
    margin-top: 10px;
}
.footer-content-right h2, .footer-content-center h2{
    color: white;

}
.footer-social-icons img{
    width: 40px;
    cursor: pointer;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: #555555;
    border: none;
}

@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    
}