.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;   
    background-position: center; 
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column ;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ;
}
.header-contents h2{
    font-size: max(4.5vw,22px);
    font-weight: 500;
    color: white;
}
.header-contents p{
    font-size: max(1.5vw,12px);
    color: white;
}
.header-contents button{
    background-color: #790979;
    color: white;
    border: none;
    padding: 1vw 2.3vw;
    font-size: max(1.2vw,10px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.header-contents button:hover{
    background-color: #c51fc5;
}

@media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px){
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }

}